body {
    background-color: rgb(24, 24, 24) }

.container {
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 15% 35%;
    padding: 50px }
    .container>div {
        align-content: center;
        padding: 10px }
    .container img {
        height: relative;
        width: 100% }
    .container button {
        background-color: teal;
        border-radius: 4px;
        border: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        margin: 20px 15px 20px 0;
        padding: 23px 40px }