body {
    font-size: 1.2em;
    background-color: black;
}
div {
    display: flex;
}

header {
    width: 100%;
    padding: 3px;
    background-color: #666;
    color: white;
    text-align: center;
}

section {
    width: 33%;
    padding: 20px;
    background-color: rgb(253, 248, 227) ;
    text-align: left;
}

section a {
    color: red;
}

li {
    padding: 0 0 20px 0;
}

.container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

section:nth-child(2) {
    padding: 75px 0;
}