div {
    display: flex;
}

header {
    padding: 3px;
    background-color: #666;
    color: white;
    text-align: center;
}


section {
    padding: 20px;
    background-color: rgb(253, 248, 227) ;
    text-align: left;
}

section a {
    color: red;
}