/* Desktop */
@media only screen and (min-width: 766px) {
    /* Whole Website */
    body {
        background-color: #eee;
        background-image: url("../img/background.jpg") }

    /* Navbar */
    header {
        background-color: white;
        border-color: rgba(0, 0, 0, 0.151);
        border-width: 0 0 2px 0;
        border-style: solid;
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        padding: 0 15% }
        header .logo {
            background-color: rgb(76, 175, 182);
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif ;
            font-style: bold;
            min-width: 100px;
            padding: 25px }
        header a {
            color: rgb(177, 177, 177);
            font-size: 18px; 
            text-decoration: none }
        header li {
            display: inline-flex;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            padding: 25px }  
            header li:first-child,
            header li:nth-child(2) {
                border-color: #eee;
                border-style: solid ; 
                border-width: 0 2px 0 0 }


    /* Content Divs */
    section {
        background-color: white;
        display: inline-block;
        margin: 20px 15% 100px;
        padding: 30px;
        width: 70% }
        section img {
            float: left ;
            height: 150px;
            padding: 0 15px 15px 0;
            width: auto }
        section h1 {
            border-color: #eee;
            border-width: 0 0 2px 0;
            border-style: solid ;
            color: rgb(76, 175, 182);
            font-size: 24px;
            padding: 0 0 10px;
            margin: 0 0 20px }
        section p {
            color: rgb(146, 146, 146) ;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            line-height: 30px }

    /* Portfolio Thumbnail Gallery */
    .grid {
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between }
        .grid .box {
            flex-basis: 125px;
            flex-grow: 1;
            max-width: 300px;
            margin: 5px }
        .grid .box img {
            height: 175px;
            width: 250px }
        .grid .box h1 {
            background-color: rgb(76, 175, 182) ;
            border: none;
            color: white;
            margin: 70px 0 0 0;
            padding: 20px 0;
            position: absolute;
            text-align: center;
            width: 250px }

    /* Footer bar */
    footer {
        background-color: rgb(153, 153, 153);
        border-color: rgb(76, 175, 182) ;
        border-style: solid;
        border-width: 8px 0 0 0;
        bottom: 0px;
        color: white;
        font-size: 14px;
        text-align: center;
        height: 50px;
        padding: 6px 0 10px 0 ;
        position: absolute;
        width: 100% }
}

/* Mobile */
@media only screen and (max-width: 765px) {
    /* Whole Website */
    body {
        background-color: #eee;
        background-image: url("../img/background.jpg") }

    /* Navbar */
    header {
        align-content: center;
        background-color: white;
        border-color: rgba(0, 0, 0, 0.151);
        border-width: 0 0 2px 0;
        border-style: solid;
        font-size: 24px}
        header .logo {
            background-color: rgb(76, 175, 182);
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif ;
            font-style: bold;
            text-align: center;
            width: 100%;
            padding: 25px }
        header a {
            color: rgb(177, 177, 177);
            font-size: 18px; 
            text-decoration: none }
        header ul {
            display: flex;
            justify-content: center;
        }
        header li {
            display: inline-flex;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: normal;
            padding: 25px }  
            header li:first-child,
            header li:nth-child(2) {
                border-color: #eee;
                border-style: solid ; 
                border-width: 0 2px 0 0 }


    /* Content Divs */
    section {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 5%;
        padding: 30px;
        width: auto }
        section img {
            width: 100%}
        section h1 {
            display: inline-block;
            border-color: #eee;
            border-width: 0 0 2px 0;
            border-style: solid ;
            color: rgb(76, 175, 182);
            font-size: 24px;
            width: 100%;
            padding: 0 0 10px;
            margin: 0 0 20px }
        section p {
            color: rgb(146, 146, 146) ;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
            line-height: 30px }

    /* Portfolio Thumbnail Gallery */
    .grid {
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between }
        .grid .box {
            flex-basis: 125px;
            flex-grow: 1;
            max-width: 300px;
            margin: 5px }
        .grid .box img {
            height: auto;
            width: 200px }
        .grid .box h1 {
            background-color: rgb(76, 175, 182) ;
            border: none;
            color: white;
            margin: 70px 0 0 0;
            padding: 20px 0;
            position: absolute;
            text-align: center;
            width: 200px }

    /* Footer bar */
    footer {
        background-color: rgb(153, 153, 153);
        border-color: rgb(76, 175, 182) ;
        border-style: solid;
        border-width: 8px 0 0 0;
        bottom: 0px;
        color: white;
        font-size: 14px;
        text-align: center;
        height: 50px;
        padding: 6px 0 10px 0 ;
        position: absolute;
        width: 100% }
}